{% extends "UWEFlix/placeholder.html" %}
{% block title %}
UWEFlix movies
{% endblock %}
{% block content %}


<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">The best cinema on campus.</h1>


            <p class="lead text-muted">
                Choose a film. Select a timing. Book your seats. Grab the popcorn!
            </p>
            <p>
                <a href="#movies" class="btn btn-primary my-2">View movies</a>
            </p>
        </div>
    </div>
</section>


<div class="album py-5 bg-light">
    <div class="container">

        <a id="films"></a>
        <h2 class="fw-light text-center">Movies</h2>

        {% if movies_list %}
        {% for movie in movie_list %}

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <!-- place image here once figured out how to retrieve from db -->
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>

                    <div class="card-body">
                        <h5 class="card-title"> {{ movie.title}}</h5>
                        <!-- will include long description when clicked on -->
                        <p class="card-text"> {{ movie.short_description}} </p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View more
                                    details</button>
                            </div>
                            <small class="text-muted"> {{ movie.length }}</small>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <p class="text-center">No movies currently available.</p>
        {% endif %}

    </div>
</div>

<hr />

</main>
{% endblock %}